/**index.wxss**/
.container{
  // margin-top:150px;
  height: 200px;
  background-color: palevioletred;
  display: flex;
  align-items: center;
  justify-content: center;
}
.box {
  width: 200px;
  height: 50px;
  border: 1px dashed green;
  border-radius: 5px;
  background-color: aliceblue;
  box-sizing: border-box;
  line-height: 50px;
  padding: 0 24px;
}






